<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="filewhalewebhard.defytech.wmqkem.filewhalewebhard">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.BlogActivity" />
        <activity android:name=".App_cpptest" />
        <activity android:name=".view.ImageViewerActivity" />
        <activity android:name=".view.JoinActivity" />
        <activity
            android:name=".view.FileUploadActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".App_uploadfile_ffmpegtest" />
        <activity android:name=".view.VideoViewerActivity" />
        <activity
            android:name=".view.MainFragment"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.FileDownloadActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.AudioViewerActivity" />
        <activity android:name=".view.FileDetailActivity" />
        <activity android:name=".view.SearchResultActivity" />
        <activity android:name=".view.UserInfoActivity" />
        <activity android:name=".view.GoogleNicknameActivity" />
        <activity android:name=".App_test" />
        <activity android:name=".view.LoginActivity"></activity>
    </application>

</manifest>