<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="filewhalewebhard.defytech.wmqkem.filewhalewebhard">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".etc.BlogActivity" />
        <activity android:name=".App_cpptest" />
        <activity android:name=".viewer.App_imgviewer" />
        <activity android:name=".user.JoinActivity" />
        <activity
            android:name=".filejob.FileUploadActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".App_uploadfile_ffmpegtest" />
        <activity android:name=".viewer.App_videoviewer" />
        <activity
            android:name=".main.MainFragment"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".filejob.FileDownloadActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".viewer.App_audioviewer" />
        <activity android:name=".etc.FileDetailActivity" />
        <activity android:name=".etc.SearchResultActivity" />
        <activity android:name=".etc.UserInfoActivity" />
        <activity android:name=".user.GoogleNicknameActivity" />
        <activity android:name=".App_test" />
        <activity android:name=".user.LoginActivity"></activity>
    </application>

</manifest>